
build/pixelsun/_pyi_gschema_compilation/00_org.gnome.shell.gschema.override

build/pixelsun/_pyi_gschema_compilation/10_gnome-shell.gschema.override

build/pixelsun/_pyi_gschema_compilation/10_gsettings-desktop-schemas.gschema.override

build/pixelsun/_pyi_gschema_compilation/10_mutter-common.gschema.override

build/pixelsun/_pyi_gschema_compilation/10_ptyxis.gschema.override

build/pixelsun/_pyi_gschema_compilation/10_ubuntu-dock.gschema.override

build/pixelsun/_pyi_gschema_compilation/10_ubuntu-settings.gschema.override

build/pixelsun/_pyi_gschema_compilation/20_ubuntu-desktop-installer-wm.gschema.override

build/pixelsun/_pyi_gschema_compilation/com.canonical.unity.desktop.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.canonical.Unity.Lenses.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.mattjakeman.ExtensionManager.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.login-screen.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.notifications.hub.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.notifications.settings.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.phone.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.sound.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.touch.network.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.touch.sound.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.touch.system.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.update-manager.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.update-notifier.gschema.xml

build/pixelsun/_pyi_gschema_compilation/com.ubuntu.user-interface.gschema.xml

build/pixelsun/_pyi_gschema_compilation/de.haeckerfelix.Shortwave.gschema.xml

build/pixelsun/_pyi_gschema_compilation/gschemas.compiled

build/pixelsun/_pyi_gschema_compilation/net.nokyan.Resources.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.freedesktop.ColorHelper.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.freedesktop.ibus.engine.table.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.freedesktop.ibus.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.freedesktop.pulseaudio.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.freedesktop.Tracker3.Extract.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.freedesktop.Tracker3.FTS.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.freedesktop.Tracker3.Miner.Files.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.freedesktop.TrackerMiners3.enums.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.baobab.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.calculator.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Characters.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.clocks.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.crypto.cache.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.crypto.pgp.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.a11y.applications.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.a11y.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.a11y.interface.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.a11y.keyboard.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.a11y.magnifier.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.a11y.mouse.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.app-folders.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.background.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.break-reminders.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.calendar.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.datetime.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.default-applications.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.enums.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.input-sources.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.interface.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.lockdown.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.media-handling.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.notifications.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.peripherals.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.privacy.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.remote-desktop.enums.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.remote-desktop.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.screen-time-limits.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.screensaver.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.search-providers.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.session.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.sound.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.thumbnail-cache.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.thumbnailers.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.wm.keybindings.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.desktop.wm.preferences.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Disks.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.evolution-data-server.addressbook.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.evolution-data-server.calendar.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.evolution-data-server.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Evolution.DefaultSources.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.evolution.eds-shell.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.evolution.shell.network-config.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Extensions.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.GWeather4.enums.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.GWeather4.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.login-screen.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Logs.enums.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Logs.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Loupe.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.mutter.devkit.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.mutter.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.mutter.wayland.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.nautilus.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.nm-applet.eap.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Orca.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Papers.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Ptyxis.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.seahorse.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.seahorse.manager.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.seahorse.window.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.SessionManager.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.enums.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.global-shortcuts.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.peripherals.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.peripherals.wacom.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.color.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.housekeeping.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.media-keys.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.power.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.sharing.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.wwan.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.xsettings.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.Settings.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.shell.extensions.appindicator.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.shell.extensions.dash-to-dock.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.shell.extensions.ding.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.shell.extensions.tiling-assistant.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.shell.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.shell.ubuntu.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.system.dns_sd.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.system.gvfs.enums.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.system.locale.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.system.location.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.system.proxy.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.system.smb.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.system.wsdd.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.TextEditor.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gnome.yelp.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gtk.gtk4.Inspector.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gtk.gtk4.Settings.ColorChooser.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gtk.gtk4.Settings.Debug.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gtk.gtk4.Settings.EmojiChooser.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gtk.gtk4.Settings.FileChooser.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gtk.Settings.ColorChooser.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gtk.Settings.Debug.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gtk.Settings.EmojiChooser.gschema.xml

build/pixelsun/_pyi_gschema_compilation/org.gtk.Settings.FileChooser.gschema.xml

build/pixelsun/_pyi_gschema_compilation/xdg-desktop-portal-gnome.gschema.xml

build/pixelsun/Analysis-00.toc

build/pixelsun/base_library.zip

build/pixelsun/EXE-00.toc

build/pixelsun/localpycs/pyimod01_archive.pyc

build/pixelsun/localpycs/pyimod02_importers.pyc

build/pixelsun/localpycs/pyimod03_ctypes.pyc

build/pixelsun/localpycs/struct.pyc

build/pixelsun/pixelsun.pkg

build/pixelsun/PKG-00.toc

build/pixelsun/PYZ-00.pyz

build/pixelsun/PYZ-00.toc

build/pixelsun/warn-pixelsun.txt

build/pixelsun/xref-pixelsun.html

dist/pixelsun

pixelf1.py

pixelf1.zip

pixelsun

pixelsun-1.0-ubuntu-x86_64.tar.gz

pixelsun-1.0-ubuntu-x86_64/config.txt

pixelsun-1.0-ubuntu-x86_64/tom-thumb.ttf

pixelsun.spec

.spyproject/config/codestyle.ini

.spyproject/config/defaults/defaults-codestyle-0.2.0.ini

.spyproject/config/defaults/defaults-encoding-0.2.0.ini

.spyproject/config/defaults/defaults-vcs-0.2.0.ini

.spyproject/config/defaults/defaults-workspace-0.2.0.ini

.spyproject/config/encoding.ini

.spyproject/config/vcs.ini

.spyproject/config/workspace.ini
